.timmana-regular {
    font-family: "Timmana", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .bungee-shade-regular {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    }
    
    .rubik-doodle  {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    }
    
    .luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    }
    .kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    }
    
    
    .anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    .kdam-thmor{
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    .ruslan-display-regular {
        font-family: "Ruslan Display", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      .rubik-mono {
        font-family: "Rubik Mono One", monospace;
        font-weight: 400;
        font-style: normal;
      }
      .nosifer-regular {
        font-family: "Nosifer", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      .stalinist-one-regular {
        font-family: "Stalinist One", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      .rye-regular {
        font-family: "Rye", serif;
        font-weight: 400;
        font-style: normal;
      }
      .dm-serif {
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .dm-serifitalic {
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-style: italic;
      }

 .unbounded-uniquifier {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.protest-guerrilla-regular {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}

      
    
    .honk-uniquifier {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    }
    .almarai-light {
      font-family: "Almarai", sans-serif;
      font-weight: 300;
      font-style: normal;
    }
    
    .almarai-regular {
      font-family: "Almarai", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .almarai-bold {
      font-family: "Almarai", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    
    .almarai-extrabold {
      font-family: "Almarai", sans-serif;
      font-weight: 800;
      font-style: normal;
    }
    